/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"); */

* {
  font-family: "Nunito", sans-serif;
  transition: ease;
}

/* preloader */
.fp-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #afafafad;
  transition: opacity 0.5s ease;
}
.fp-container .fp-loader {
  top: 30%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}

.jumbotron {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.gambar-gallery {
  position: relative;
  width: 300px;
  height: 300px;
}

.container-gallery {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.gambar-gallery:hover .overlay,
.gambar-gallery:focus {
  opacity: 1;
}

.gambar-gallery .overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #f7803c 90%);

  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.image-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.image {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .image-container {
    position: relative;
    width: 300px;
    height: 300px;
  }
}
