.bg-detailBerita {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .bg-detailBerita {
    height: 70vh;
  }
}

.DraftEditor-editorContainer {
  background-color: #fff !important;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  border: 1px solid #f1f1f1 !important;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc !important;
}
.editor-class {
  background-color: #ccc !important;
  padding: 1rem;
  border: 1px solid #ccc !important;
}
.toolbar-class {
  border: 1px solid #ccc !important;
}

.bg-detailBeritaOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}

.text-highlight {
  background: linear-gradient(180deg, rgba(214, 12, 12, 0) 65%, #f7803c 65%);
  display: inline;
}
